.inner {
    /*
    background: #DDD;
    font-color: #878787;
    */
    font-size: 20px;
    position: absolute;
    top: 50%; left: 50%;
}

.rotate_text {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(90deg);
}